.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y11{bottom:5.500000px;}
.yc{bottom:6.000000px;}
.y9{bottom:6.500000px;}
.y10{bottom:13.000000px;}
.ya{bottom:14.500000px;}
.yf{bottom:15.000000px;}
.y1c{bottom:15.500000px;}
.y16{bottom:18.500000px;}
.y1b{bottom:19.500000px;}
.y17{bottom:20.000000px;}
.y15{bottom:20.500000px;}
.y12{bottom:21.000000px;}
.yb{bottom:21.500000px;}
.y0{bottom:22.000000px;}
.y2{bottom:23.000000px;}
.y14{bottom:23.500000px;}
.y1d{bottom:25.000000px;}
.yd{bottom:25.500000px;}
.y13{bottom:26.500000px;}
.y7{bottom:28.500000px;}
.y1{bottom:30.500000px;}
.y4{bottom:32.000000px;}
.y3{bottom:33.500000px;}
.y19{bottom:34.000000px;}
.ye{bottom:36.000000px;}
.y5{bottom:38.500000px;}
.y1a{bottom:39.000000px;}
.y18{bottom:42.500000px;}
.y6{bottom:47.000000px;}
.y8{bottom:68.000000px;}
.hc{height:701.000000px;}
.h1b{height:735.500000px;}
.h14{height:740.500000px;}
.h17{height:745.500000px;}
.h1c{height:746.000000px;}
.h1a{height:749.000000px;}
.h1d{height:749.500000px;}
.h15{height:752.500000px;}
.h19{height:756.000000px;}
.h13{height:759.000000px;}
.h11{height:759.500000px;}
.h12{height:762.500000px;}
.h18{height:763.000000px;}
.h16{height:763.500000px;}
.h1e{height:766.000000px;}
.h1{height:770.000000px;}
.ha{height:781.500000px;}
.h6{height:783.000000px;}
.h5{height:783.500000px;}
.h3{height:790.000000px;}
.h0{height:792.000000px;}
.h8{height:794.000000px;}
.hb{height:796.000000px;}
.hf{height:799.500000px;}
.h7{height:801.500000px;}
.h10{height:803.500000px;}
.he{height:811.500000px;}
.hd{height:822.000000px;}
.h4{height:841.920000px;}
.h9{height:842.040000px;}
.h2{height:842.520000px;}
.wc{width:496.000000px;}
.wa{width:553.000000px;}
.w6{width:553.500000px;}
.w5{width:554.000000px;}
.w3{width:558.000000px;}
.w8{width:561.000000px;}
.wb{width:563.500000px;}
.w7{width:566.000000px;}
.wf{width:568.500000px;}
.w12{width:573.000000px;}
.we{width:574.500000px;}
.w15{width:576.500000px;}
.w18{width:579.000000px;}
.w14{width:581.500000px;}
.wd{width:582.000000px;}
.w17{width:584.500000px;}
.w10{width:587.000000px;}
.w16{width:589.500000px;}
.w11{width:590.000000px;}
.w13{width:590.500000px;}
.w19{width:592.500000px;}
.w2{width:594.960000px;}
.w4{width:595.320000px;}
.w9{width:595.560000px;}
.w1{width:604.000000px;}
.w0{width:612.000000px;}
.x0{left:2.500000px;}
.x4{left:7.500000px;}
.x7{left:10.000000px;}
.x8{left:13.000000px;}
.x1{left:15.500000px;}
.x2{left:17.000000px;}
.x3{left:20.000000px;}
.x9{left:21.500000px;}
.x5{left:26.000000px;}
.xa{left:28.500000px;}
.x6{left:57.500000px;}
@media print{
.y11{bottom:7.333333pt;}
.yc{bottom:8.000000pt;}
.y9{bottom:8.666667pt;}
.y10{bottom:17.333333pt;}
.ya{bottom:19.333333pt;}
.yf{bottom:20.000000pt;}
.y1c{bottom:20.666667pt;}
.y16{bottom:24.666667pt;}
.y1b{bottom:26.000000pt;}
.y17{bottom:26.666667pt;}
.y15{bottom:27.333333pt;}
.y12{bottom:28.000000pt;}
.yb{bottom:28.666667pt;}
.y0{bottom:29.333333pt;}
.y2{bottom:30.666667pt;}
.y14{bottom:31.333333pt;}
.y1d{bottom:33.333333pt;}
.yd{bottom:34.000000pt;}
.y13{bottom:35.333333pt;}
.y7{bottom:38.000000pt;}
.y1{bottom:40.666667pt;}
.y4{bottom:42.666667pt;}
.y3{bottom:44.666667pt;}
.y19{bottom:45.333333pt;}
.ye{bottom:48.000000pt;}
.y5{bottom:51.333333pt;}
.y1a{bottom:52.000000pt;}
.y18{bottom:56.666667pt;}
.y6{bottom:62.666667pt;}
.y8{bottom:90.666667pt;}
.hc{height:934.666667pt;}
.h1b{height:980.666667pt;}
.h14{height:987.333333pt;}
.h17{height:994.000000pt;}
.h1c{height:994.666667pt;}
.h1a{height:998.666667pt;}
.h1d{height:999.333333pt;}
.h15{height:1003.333333pt;}
.h19{height:1008.000000pt;}
.h13{height:1012.000000pt;}
.h11{height:1012.666667pt;}
.h12{height:1016.666667pt;}
.h18{height:1017.333333pt;}
.h16{height:1018.000000pt;}
.h1e{height:1021.333333pt;}
.h1{height:1026.666667pt;}
.ha{height:1042.000000pt;}
.h6{height:1044.000000pt;}
.h5{height:1044.666667pt;}
.h3{height:1053.333333pt;}
.h0{height:1056.000000pt;}
.h8{height:1058.666667pt;}
.hb{height:1061.333333pt;}
.hf{height:1066.000000pt;}
.h7{height:1068.666667pt;}
.h10{height:1071.333333pt;}
.he{height:1082.000000pt;}
.hd{height:1096.000000pt;}
.h4{height:1122.560000pt;}
.h9{height:1122.720000pt;}
.h2{height:1123.360000pt;}
.wc{width:661.333333pt;}
.wa{width:737.333333pt;}
.w6{width:738.000000pt;}
.w5{width:738.666667pt;}
.w3{width:744.000000pt;}
.w8{width:748.000000pt;}
.wb{width:751.333333pt;}
.w7{width:754.666667pt;}
.wf{width:758.000000pt;}
.w12{width:764.000000pt;}
.we{width:766.000000pt;}
.w15{width:768.666667pt;}
.w18{width:772.000000pt;}
.w14{width:775.333333pt;}
.wd{width:776.000000pt;}
.w17{width:779.333333pt;}
.w10{width:782.666667pt;}
.w16{width:786.000000pt;}
.w11{width:786.666667pt;}
.w13{width:787.333333pt;}
.w19{width:790.000000pt;}
.w2{width:793.280000pt;}
.w4{width:793.760000pt;}
.w9{width:794.080000pt;}
.w1{width:805.333333pt;}
.w0{width:816.000000pt;}
.x0{left:3.333333pt;}
.x4{left:10.000000pt;}
.x7{left:13.333333pt;}
.x8{left:17.333333pt;}
.x1{left:20.666667pt;}
.x2{left:22.666667pt;}
.x3{left:26.666667pt;}
.x9{left:28.666667pt;}
.x5{left:34.666667pt;}
.xa{left:38.000000pt;}
.x6{left:76.666667pt;}
}
