.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y1{bottom:47.000000px;}
.y7{bottom:74.500000px;}
.y5{bottom:83.000000px;}
.y4{bottom:88.500000px;}
.y0{bottom:89.000000px;}
.yd{bottom:89.500000px;}
.y3{bottom:93.000000px;}
.ye{bottom:96.000000px;}
.yf{bottom:97.000000px;}
.ya{bottom:101.000000px;}
.yb{bottom:103.500000px;}
.y9{bottom:105.000000px;}
.y6{bottom:105.500000px;}
.y2{bottom:106.500000px;}
.y8{bottom:108.000000px;}
.yc{bottom:109.500000px;}
.h7{height:662.500000px;}
.h1{height:663.000000px;}
.h4{height:663.500000px;}
.h6{height:700.500000px;}
.h3{height:701.000000px;}
.h0{height:792.000000px;}
.h2{height:841.920000px;}
.h5{height:842.040000px;}
.w3{width:496.000000px;}
.w5{width:496.500000px;}
.w1{width:512.500000px;}
.w2{width:595.320000px;}
.w4{width:595.560000px;}
.w0{width:612.000000px;}
.x4{left:37.500000px;}
.x1{left:39.000000px;}
.x0{left:41.500000px;}
.x2{left:44.500000px;}
.x5{left:46.000000px;}
.x6{left:48.500000px;}
.x8{left:55.500000px;}
.x3{left:57.000000px;}
.x7{left:58.500000px;}
@media print{
.y1{bottom:62.666667pt;}
.y7{bottom:99.333333pt;}
.y5{bottom:110.666667pt;}
.y4{bottom:118.000000pt;}
.y0{bottom:118.666667pt;}
.yd{bottom:119.333333pt;}
.y3{bottom:124.000000pt;}
.ye{bottom:128.000000pt;}
.yf{bottom:129.333333pt;}
.ya{bottom:134.666667pt;}
.yb{bottom:138.000000pt;}
.y9{bottom:140.000000pt;}
.y6{bottom:140.666667pt;}
.y2{bottom:142.000000pt;}
.y8{bottom:144.000000pt;}
.yc{bottom:146.000000pt;}
.h7{height:883.333333pt;}
.h1{height:884.000000pt;}
.h4{height:884.666667pt;}
.h6{height:934.000000pt;}
.h3{height:934.666667pt;}
.h0{height:1056.000000pt;}
.h2{height:1122.560000pt;}
.h5{height:1122.720000pt;}
.w3{width:661.333333pt;}
.w5{width:662.000000pt;}
.w1{width:683.333333pt;}
.w2{width:793.760000pt;}
.w4{width:794.080000pt;}
.w0{width:816.000000pt;}
.x4{left:50.000000pt;}
.x1{left:52.000000pt;}
.x0{left:55.333333pt;}
.x2{left:59.333333pt;}
.x5{left:61.333333pt;}
.x6{left:64.666667pt;}
.x8{left:74.000000pt;}
.x3{left:76.000000pt;}
.x7{left:78.000000pt;}
}
